* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --maincolor: #e8272e;
}

.menu {
    width: 1100px;
    border: 1px solid #ddd;
    margin: 15px auto;
    padding: 2px;
}

.contenair {
    width: 59%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* start main  */
main {
    width: 75%;
}

main>div:not(:last-child) {
    display: flex;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 4px 0 #0006;
    border-radius: 5px;
    margin-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}

main h5 {
    padding-bottom: 5px;
}


h6,
footer h4,
aside>div:nth-child(4)  {
    font-weight: normal;
    text-transform: capitalize;
    font-family: 'Yellowtail', cursive;
}

main>div div:last-child {
    padding: 14px 0 14px 20px;
}



main div:not(:last-child)  {
    font-size: 10px;
    color: var(--maincolor);
    cursor: pointer;
    text-transform: capitalize;
}

main img {
    height: 100%;
}




main>div:last-child {
    text-align: center;
    margin: 30px 0 50px;
}

main>div:last-child span {
    border: 1px solid #ddd;
    padding: 0 6px;
    margin-left: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
}

main>div:last-child span:nth-child(2) {
    color: #fff;
    background-color: var(--maincolor);
}

/* start aside  */
aside {
    width: 23%;
}

aside input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 12px;
}

.fas.fa-search {
    font-size: 12px;
    position: relative;
    top: -25px;
    left: calc(100% - 20px);
}

aside h5 {
    padding-bottom: 7px;
}

aside ul {
    border-top: 1px solid #ddd;
    list-style: none;
    font-size: 12px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 12px;
    padding-top: 7px;
    color: #555;
}

aside ul li {
    padding: 3px;
}

aside ul span {
    position: absolute;
    right: 0;
}

aside ul i {
    padding-right: 5px;
}

aside>div:nth-child(3)>div {
    display: flex;
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    padding-top: 7px;
}

aside>div:nth-child(3)>div img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

aside>div:nth-child(3)>div h6 {
    font-weight: 300;
    font-size: 10px;
    padding-left: 3px;
}

aside>div:nth-child(3)>div p {
    font-size: 10px;
}

aside>div:nth-child(3)>div p i {
    color: var(--maincolor);
    padding: 0 3px;
}

aside>div:nth-child(4) {
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    line-height: 1.6;
    font-size: 22px;
    background-image: url(https://i.postimg.cc/cH75pD9W/image-2.jpg);
    position: relative;
    z-index: -1;
    color: #fff;
    margin-bottom: 10px;
}

.overly {
    width: 100%;
    height: 100%;
    background-color: #000000e3;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

aside>div:nth-child(4) span {
    color: var(--maincolor);
}

aside>div:nth-child(4) p:last-of-type {
    font-size: 10px;
    text-transform: capitalize;
}

aside>div:nth-child(4) button {
    border: none;
    background-color: var(--maincolor);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
}

aside>div:nth-child(5) div {
    border-top: 1px solid #ddd;
    padding-top: 7px;
    margin-bottom: 10px;
}

aside>div:nth-child(5) div img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 1px;
}

aside>div:nth-child(6) div {
    border-top: 1px solid #ddd;
    padding-top: 7px;
}

aside>div:nth-child(6) div span {
    border-radius: 10px;
    padding: 5px 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 10px;
    text-transform: capitalize;
    background-color: #f4f4f4;
    line-height: 3;
}

/* end aside  */
/* start footer  */
footer {
    background-image: url(https://i.postimg.cc/Y2bdQLTd/image-17.jpg);
    height: 100px;
    position: relative;
}

footer>div {
    width: 100%;
    height: 100px;
    background-color: var(--maincolor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 20%;
    top: -50%;
}

footer>div div {
    width: 45%;
}

footer h4 {
    margin-top: -10px;
    color: #fff;
    text-transform: capitalize;
}

fooder p {
    margin-top: 5px;
    color: #fff;
    font-size: 12px;
}

footer input {
    width: 100%;
    border: none;
    padding: 15px 10px;
    border-radius: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 12px;
    text-transform: capitalize;
    background-color: #ea3d43;
}

footer button {
    border: none;
    border-radius: 20px;
    font-size: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 9px;
    color: var(--maincolor);
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 35px;
}

/* end footer  */